.apple-image {
  padding: 20px;
  position: absolute;
  top:25%;
     right:20%;
}

.big-image {
  background-image: url('../images/big-image.jpg');
  background-position: center center;
  background-size: cover;
  height: 380px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #c0c0c0;
  padding: 3px; 
  width: 290px;
  height: 220px; 
}

#job-description {
  vertical-align:middle;
}

#job-template{
  position:relative;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  padding-top: 20px;
}