.big-image {
  background-image: url('../images/big-image.jpg');
  background-position: center center;
  background-size: cover;
  height: 380px;
}

.company-image {
  padding: 20px;
  position: absolute;
  top:25%;
  right:20%;
}

#job-description {
  vertical-align: middle;
}

#job-template{
  position:relative;
  border-bottom-style: outset;
  border-width: medium;
  border-color: #ececec;
  padding: 25px 0px 15px 0px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #ececec;
  padding: 3px; 
  width: 290px;
  height: 220px; 
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  padding-top: 20px;
}